.nnn {
    display: none;
}

.button-27 {
   appearance: none;
   /*background-color: #АА;*/
   border: 2px solid #4d6de3;
   border-radius: 15px;
   box-sizing: border-box;
   color: #4d6de3;
   cursor: pointer;
   display: inline-block;
   /*font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";*/
   font-size: 16px;
   /*font-weight: 600;*/
   line-height: normal;
   margin: 0;
   min-height: 60px;
   min-width: 0;
   outline: none;
   padding: 16px 24px;
   text-align: center;
   text-decoration: none;
   transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
   width: 100%;
   will-change: transform;

   height: 20px;
   width: auto;

    margin-right: 10px;
}

.button-27:disabled {
    pointer-events: none;
}

.button-27:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.button-27:active {
    box-shadow: none;
    transform: translateY(0);
}

.about_s1 {
    stroke:none;fill-rule:nonzero;fill:rgb(30.19608%,42.745098%,89.019608%);fill-opacity:1;
}

.about_s2 {
    stroke:none;fill-rule:nonzero;fill:rgb(30.588236%,47.843137%,70.980394%);fill-opacity:1;
}

.about_s3 {
    stroke:none;fill-rule:nonzero;fill:rgb(100%,100%,100%);fill-opacity:1;
}

.about_s4 {
    stroke:none;fill-rule:nonzero;fill:rgb(100%,100%,100%);fill-opacity:1;
}

.dni {
    display: none !important;
}